<style>
    body {
        background-color: cadetblue;
      
    }

</style>

<style>
    .form-control{
        background-color: bisque;
    }

</style>

<body>


<center><h3> Here is a basic analytics engine - we crawl all the links in any url</h3></center>
<center><h3>Scrapy Lookup (English only) - example enter</h3></center>
<br>
<center><h3>https://stackoverflow.com/questions/9542665/remote-rejected-master-master-pre-receive-hook-declined</h3></center>
<br>
<center><h3>or any other url (in English only)..example <mark>search on Google "feedback of one brand at your choice"</mark></h3></center>
<form>
  <div class="form-group">
    <div class="col-md-4 col-md-offset-4">
    <label for="scrapy">url</label>
    {{input class='form-control input-lg' placeholder=" enter any url you wish (in English only) - we will crawl the links"value=scrapy id="scrapy"}}
  
  

  <button class="btn btn-primary" {{action 'scrapyLookup'}}>Submit</button>
</div>
</div>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</body>



