<style>
    body {
        background-color: cadetblue;
       
    }

</style>

<body>


<center><h3> some ARTADYS API </h3></center>

    <div class="col-sm-6" style="background-color:blanchedalmond;">

<center><h4>ARTADYS implement Blackboard Architecture</h4></center>

<center><h3>{{ember-youtube ytid="0zGJZSLSVdY"}}</h3></center>


    </div>

        <div class="col-sm-6" style="background-color:blanchedalmond;">

 <center><h4>How ARTADYS measure the <mark>Empathy</mark> @FOOT England-France 17/11/2015</h4></center>

<center><h3>{{ember-youtube ytid="BQ3-ObwG4FU"}}</h3></center>

            </div>
<br>
<br>
</body>

