{{yield}}
<br>
<style>
    body {
        background-color: cadetblue;

    }

</style>
<body>
<br>
<br>
<center><h2> ARTADYS covers the communication during EVENTS supervised by satellites or drones</h2></center> 
<br>
<br>
<br>
</body>
