<style>
    body {
        background-color: cadetblue;
        
    }

</style>

<style>
    .form-control{
        background-color: bisque;
    }

</style>

<body>

<center><h1>ARTADYS sentiment analysis Engine</h1></center>

<form>
  <div class="sent-analysis">
      
    <center><label for="sent">Please enter a text sentence or a paragraph in English (the servers are virtual, so you have to wait 2 minutes for an answer)</label></center>

      <div class="col-md-6 col-md-offset-4">
          
          <center>{{input class='form-control input-lg' placeholder="Enter your sentence or a paragraph in English" value=sent}}
        
         <button class="btn btn-primary" {{action 'sentLookup' }}>Submit</button></center>
      
      </div>


  </div>
</form>

</body>
