<style>
    body {
        background-color: cadetblue;
        
    }

</style>

<style>
    .form-control{
        background-color: bisque;
    }

</style>

<body>

<h1>ARTADYS tweets sentimental analysis Engine</h1>

<form>
  <div class="tweets-sent">

    <center><label for="clavier">Please enter a keyword (the servers are virtual, so you have to wait 2 minutes for an answer)</label></center>

      <div class="col-md-4 col-md-offset-4">
          
          {{input class='form-control input-lg' placeholder="Enter your keyword" value=clavier}}
        
         <button class="btn btn-primary" {{action 'tweetsSentLookup' }}>Submit</button>
      
      </div>

  </div>
</form>

</body>

