<style>
    body {
        background-color: cadetblue;
        
    }

</style>

<style>
    .form-control{
        background-color: bisque;
    }

</style>

<body>

<h1>ARTADYS watson concept extraction Engine</h1>

<form>
  <div class="nltk">
      
    <center><label for="url">Please enter an English url / a link (the servers are virtual, so you have to wait 2 minutes for an answer)</label></center>

      <div class="col-md-6 col-md-offset-4">
          
          <center>{{input class='form-control input-lg' placeholder="Enter your English url / link" value=url}}
        
         <button class="btn btn-primary" {{action 'watsonConceptLookup' }}>Submit</button></center>
      
      </div>


  </div>
</form>

</body>
