<div class="bloc-principal">
<div class="container-fluide">
      {{partial 'navbar'}}
      {{outlet}}
</div>
</div>

<nav class="navbar navbar-fixed-bottom" style="background-color: #DDD;"> 
  <div class="container-fluid">

<div class="navbar-bottom">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>



		
	
			</button>


			{{#link-to 'index' class="navbar-brand"}} Main Page bar {{/link-to}}
		</div>


<div class="collapse navbar-collapse" id="main-navbar1">
			

			<ul class="nav navbar-nav"> 
	
    		{{#link-to 'about-founders' tagName="li"}}<a href=""><span class="glyphicon glyphicon-user"></span>About</a>{{/link-to}}
			{{#link-to 'kontact' tagName="li"}}<a href=""><span class="glyphicon glyphicon-phone-alt"></span>Contact</a>{{/link-to}}
			{{#link-to 'jobs' tagName="li"}}<a href=""><span class="glyphicon glyphicon-road"></span>Jobs</a>{{/link-to}}
			
			
			</ul>

			<ul class="nav navbar-nav navbar-right">
			{{#link-to 'google' class="button"}}
			<span class="glyphicon glyphicon-apple"></span>competition web search engines google, bing, ibm, ... plus display distance tools
			{{/link-to}}
			</ul>

</div>	

	

 </div>
</nav>