<style>
    body {
        background-color: cadetblue;
        
    }

</style>

<style>
    .form-control{
        background-color: bisque;
    }

</style>



<h2 id="title">Home Page.....click on Login again</h2>

<button {{action "generateDummyList"}} class="btn btn-info">Generate 5 random record</button>
<button {{action "deleteAll"}} class="btn btn-danger">Delete All</button>
<p>Size: {{model.length}}</p>
