<style>
    body {
        background-color: cadetblue;
       
    }

</style>

<body>

<center><h3> offres d'emplois WEB ATRIO </h3></center>

<center><h4>WEB ATRIO Architecte .Net Paris H/F</h4></center>

<center><object data="JobE.pdf" type="application/pdf" width="100%" height="750ppx">
</object></center>

    <div class="col-sm-6" style="background-color:blanchedalmond;">

<center><h4>WEB ATRIO Développeur .Net Paris H/F</h4></center>

<center><object data="JobA.pdf" type="application/pdf" width="100%" height="750ppx">
</object></center>


    </div>

        <div class="col-sm-6" style="background-color:blanchedalmond;">

 <center><h4>WEB ATRIO Développeur .Net Paris H/F</h4></center>

<center><object data="JobB.pdf" type="application/pdf" width="100%" height="750ppx">
</object></center>

            </div>

    <div class="col-sm-6" style="background-color:blanchedalmond;">

<center><h4>WEB ATRIO Développeur .Net Paris H/F</h4></center>

<center><object data="JobC.pdf" type="application/pdf" width="100%" height="750ppx">
</object></center>


    </div>

        <div class="col-sm-6" style="background-color:blanchedalmond;">

 <center><h4>WEB ATRIO Développeur .Net Paris H/F</h4></center>

<center><object data="JobD.pdf" type="application/pdf" width="100%" height="750ppx">
</object></center>

            </div>
<br>
<br>

<!-- Hotjar Tracking Code for https://artadys.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:466785,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</body>



