<style>
    body {
        background-color: cadetblue;
    }

</style>
<body>
<center><b><u>Scrapy Results - exemple enter any url like <mark>search on Google "feedback of one brand"</mark> or enter this example https://stackoverflow.com/questions/9542665/remote-rejected-master-master-pre-receive-hook-declined</u></b></center>
<br>
<br>
<center>
<div class="col-md>-3" style="background-color:blanchedalmond;">
<ul>
{{#each model as |legislator|}}
<li>  <a href="{{legislator}}">{{legislator}}</a>  </li>
{{/each}}
</ul>
</div>
</center>
<br>
<br>
<center><b><u>Please enter one of the url / link from above in the ARTADYS watson concept Engine</u></b></center>
<br>
<br>
<iframe src="https://artadys.com/watsonConcept" width="100%" height="750px"></iframe>
<br>
<br>
<iframe src="https://dg-cms-uploads-production.s3.amazonaws.com/uploads/document/file/223/Constellation_Brochure_forWeb.pdf" width="100%" height="750px"></iframe>
<br>
<br>
<br>
<iframe src="https://dg-cms-uploads-production.s3.amazonaws.com/uploads/document/file/196/DG_WorldView4_DS_11-15_Web.pdf" width="100%" height="750px"></iframe>
<br>
<br>
<br>
<iframe src="https://dg-cms-uploads-production.s3.amazonaws.com/uploads/document/file/97/DG_GeoEye1.pdf" width="100%" height="750px"></iframe>
<br>
<br>
</body>
<!-- Hotjar Tracking Code for https://artadys.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:466785,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

